node_modules
dist
.env
*.bak
*.log
keys


#Ignore vscode AI rules
.github\copilot-instructions.md


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Playwright Tests Artifccts
test-results.xml
text-results.json
test-results/
playwright-report/
